    body,
    html {
      height: 100vh;
    }

    html {
      -ms-overflow-style: none;
      /* IE 10+ */
      /* overflow: -moz-scrollbars-none; Disabled as firefox disabling scroll ATM */
      /* Firefox */
    }


    html::-webkit-scrollbar {
      display: none;
      /* Safari and Chrome */
    }

    .no-js .top-bar {
      display: none;
    }

    @media screen and (min-width: 40em) {
      .no-js .top-bar {
        display: block;
      }

      .no-js .title-bar {
        display: none;
      }
    }

    #bottomMobileMenu {
      width: 100%;
    }

    #mobileBackground {
      background-image: url("../images/background/maria_maend_hairstyling_makeup_perth.JPG");
      height: 100vh;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
    }

    #mobileStart {
      min-height: 30%;
      background-color: rgba(255, 255, 255, 0.5);
    }

    .light-blue {
      background-color: rgba(43, 166, 203, 0.75);
    }

    .light-grey {
      background-color: rgba(248, 248, 255, 0.7);
    }

    .separator-center::after {
      width: 15rem;
    }

    #extraServicesList .separator-center::after {
      width: 5rem;
    }

    .parallax-back {
      /* The image used */


      /* Full height */
      height: 75vh;
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    #parallaxLanding {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.3)), url("../images/background/maria_maend_hairstyling_makeup_perth_landscape.JPG");
      height: 100vh;
    }

    #parallaxLanding>.parallax-front {
      background: none;
    }

    #parallaxLanding .h1 {
      font-size: 5rem;
    }

    #parallaxLanding .normal {
      font-size: 2.5rem;
    }

    #downPointer {
      display: none;
      position: absolute;
      bottom: 2%;
      opacity: 0.8;
    }

    .pop-up {
      opacity: 0;
    }

    .back-2 {
      background-image: url("../images/background/maria_maend_hairstyling_makeup_perth_landscape_mobile.jpg");
    }

    .back-3 {
      background-image: url("../images/background/maria_maend_hairstyling_makeup_perth_landscape_2.jpg");
    }



    .parallax-front {
      background-color: rgba(255, 255, 255, 0.7);
      width: 100%;
      font-size: 2.5rem;
      margin: 0px !important;
      min-height: 50vh;

    }


    #offCanvas {
      background-color: rgba(255, 255, 255, 0.9);
    }


    .margin-y-auto {
      margin-top: auto !important;
      margin-bottom: auto !important;
    }


    .almost-white {
      color: #f8f8ff !important;
    }

    .almost-black {
      color: #313133 !important;
    }

    .primary-color {
      color: #2ba6cb !important;
    }

    .normal {
      font-family: 'Raleway', sans-serif;
    }

    .heading {
      font-family: 'Changa', sans-serif;
    }

    .standard-size {
      font-size: 1rem !important;
    }

    .transparent-background {
      background-color: rgba(0, 0, 0, 0) !important;
    }

    /* 3d card rotation */
    .card {
      position: relative;
      perspective: 1000px;
      transform-style: preserve-3d;
    }

    .card:hover .front {
      transform: rotateY(180deg);
    }

    .card:hover .back {
      transform: rotateY(360deg);
    }

    .front,
    .back {
      width: 100%;
      height: 100%;
      background-color: rgb(254, 254, 254);
      border-radius: 3px;
      transition: 1s;
      backface-visibility: hidden;

    }

    .back {
      position: absolute;
      left: 0;
      top: 0;
      transform: rotateY(180deg);
    }

    p {
      font-size: 2rem;
    }

    .front h4 {
      font-size: 1.2rem;
    }

    .back h4 {
      font-size: 1rem;
    }

    .back p {
      font-size: 0.8rem;
    }

    #desktopMenu .top-bar-right a {
      position: relative;
      display: inline-block;


    }

    #desktopMenu .top-bar-right a:hover::after,
    #desktopMenu .top-bar-right a:hover::before {
      width: 100%;
      left: 0;
    }

    #desktopMenu .top-bar-right a::after,
    #desktopMenu .top-bar-right a::before {
      content: '';
      position: absolute;
      top: calc(100%);
      width: 0;
      right: 0;
      height: 3px;

    }

    #desktopMenu .top-bar-right a::before {
      transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
      background: #87bdd8;
    }

    #desktopMenu .top-bar-right a::after {
      transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
      background: #2196f3;
    }

    .is-active {
      color: #87bdd8!important;
    }



    .title-bar {
      background-color: rgba(10, 10, 10, 0.8);
    }

    .top-bar-right .li:focus {
      color: #87bdd8;
    }

    .zero-radius {
      border-radius: 0px !important;
    }

    .mobile-card-hint {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.5rem;
      font-size: 1.2rem;
    }

    .img-wrapper {
      background-color: black;
    }

    .under-layer {
      opacity: 0.75 !important;
    }

    #serviceSelect .button {
      width: 6rem !important;
    }

    input[type=checkbox]:checked+label {
      background: #87bdd8;
      -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
      -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
      box-shadow: inset 0px 0px 5px #c1c1c1;
      outline: none;
    }

    .reveal .top-bar {
      background-color: #2ba6cb;
      margin-bottom: 0.5rem;
    }

    .reveal .h4 {
      padding-left: 0.5rem;
    }

    .reveal .close-button {
      top: unset !important;
    }

    #firstSelectGroup {
      margin-bottom: 0.5rem;
    }

    button:active {
      -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
      -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
      box-shadow: inset 0px 0px 5px #c1c1c1;
      outline: none;
    }

    #messageSent {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .shadow {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
    }

    .price {
      font-size: x-large !important;
    }

    .price::before {
      content: "\0024";
    }

    .card-section .cell .range {
      font-size: xx-small !important;
    }

    .card-section .cell .button,
    #portfolioMobile .button {
      border-color: #f8f8ff;
    }

    .datepicker-close {
      width: auto !important;
      height: auto !important;
      padding: 0.8rem !important;
      margin-top: -0.6rem !important;
    }

    .card .button.hollow:hover {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
    }