/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .parallax-main {       
      background-image: url("../images/background/maria_maend_hairstyling_makeup_perth.JPG");
    }
    p {
      font-size:1rem!important;
    }   
    .h1 {
      font-size: 1.2rem!important;
    }
    
    .front  h4 {
      font-size: 0.5rem;
    }
    
    .back h4 {
      font-size: 0.7rem;
    }
    .back p {
      font-size: 0.6rem!important;
      margin-bottom: 0.5rem!important;     
    }
    .back .card-section {
      margin-top: 0px!important;
      margin-bottom: 0px!important;
      padding: 0.5rem!important;
    }
    .back .card-section .button {
      width: 80%!important;
    }
    .button {
      font-size: 0.7rem!important;
    }
    #duLogo {
      width: 50%!important;
    }
    #contact .fa-lg {
      font-size: 2.5rem;
    }
 

  
}

/* Landscape */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    p {
      font-size:1rem!important;
    }
    .h1 {
      font-size: 1.2rem!important;
    }
    
    .front  h4 {
      font-size: 0.5rem;
    }
    
    .back h4 {
      font-size: 0.7rem;
    }
    .back p {
      font-size: 0.6rem!important;
      margin-bottom: 0.5rem!important;     
    }
    .back .card-section {
      margin-top: 0px!important;
      margin-bottom: 0px!important;
      padding: 0.5rem!important;
    }
    .back .card-section .button {
      width: 80%!important;
    }
    .card {
      width: 80%!important;
    }
    .button {
      font-size: 0.7rem!important;
    }
    #services {
      height: auto!important;
    }
    #services > .parrallax-curtain {
      margin-top: 2rem!important;
    }
    #contact .fa-lg {
      font-size: 2.5rem;
    }

   

  }



/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)  
  and (orientation: portrait) { 
    p {
      font-size:1rem!important;
    }
    .h1 {
      font-size: 1.2rem!important;
    }
    
    .front  h4 {
      font-size: 0.6rem;
    }
    
    .back h4 {
      font-size: 0.7rem;
    }
    .back p {
      font-size: 0.6rem!important;
      margin-bottom: 0.5rem!important;     
    }
    .back .card-section {
      margin-top: 0px!important;
      margin-bottom: 0px!important;
      padding: 0.5rem!important;
    }
    .back .card-section .button {
      width: 80%!important;
    }
    .button {
      font-size: 0.8rem!important;
    }
    #duLogo {
      width: 50%!important;
    }
    #contact .fa-lg {
      font-size: 2.5rem;
    }
 
     

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    p {
      font-size:1rem!important;
    }
    .h1 {
      font-size: 1.2rem!important;
    }
    .front  h4 {
      font-size: 0.6rem;
    }
    
    .back h4 {
      font-size: 0.7rem;
    }
    .back p {
      font-size: 0.6rem!important;
      margin-bottom: 0.5rem!important;     
    }
    .back .card-section {
      margin-top: 0px!important;
      margin-bottom: 0px!important;
      padding: 0.5rem!important;
    }
    .back .card-section .button {
      width: 80%!important;
    }
    .button {
      font-size: 0.8rem!important;
    }
    #contact .fa-lg {
      font-size: 2.5rem;
    }
    
  

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    p {
      font-size:1rem!important;
    }
    .h1 {
      font-size: 1.2rem!important;
    }
    .button {
      font-size: 0.8rem!important;
    }
    #contact .fa-lg {
      font-size: 2.5rem;
    }

}

/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {  
    p {
      font-size:1.2rem!important;
    }
    .h1 {
      font-size: 1.4rem!important;
    }
    .button {
      font-size: 0.8rem!important;
    }
    #contact .fa-lg {
      font-size: 2.5rem;
    }
    
 
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    /* Colliding with desktops
    p {
      font-size:1rem!important;
    }
    .h1 {
      font-size: 1.2rem!important;
    }
    }
    .front  h4 {
      font-size: 0.6rem;
    }
    
    .back h4 {
      font-size: 0.7rem;
    }
    .back p {
      font-size: 0.6rem!important;
      margin-bottom: 0.5rem!important;     
    }
     
    .back .card-section {
      margin-top: 0.5rem!important;
      margin-bottom: 0.5rem!important;
      padding: 0.5rem!important;
    } 
    .back .card-section .button {
      width: 80%!important;
    }
  
    .button {
      font-size: 1rem!important;
    }
    .card {
      width: 80%;
    }
    #services > .parrallax-curtain {
      margin-top: 2rem!important;
    } */

}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .parallax-main {       
      background-image: url("../images/background/maria_maend_hairstyling_makeup_perth.JPG");
    }
    #bottomMobileMenu {
      display: none!important;
    }
    #extraBookButton {
      display: block!important;
    }
    #duLogo {
      width: 50%!important;
    }
    .mobile-card-hint {
      display: block!important;
    }
    
     
      
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .top-bar {
      font-size: small;
    }
    .top-bar .button {
      font-size: small!important;
    }
    .mobile-card-hint {
      display: block!important;
    }

    
}

/* ----------- iPad Pro 12.9" ----------- */
/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .mobile-card-hint {
      display: block!important;
    }
   

}

/* Laptop */
/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 


}
